<%=provide(:title, "oooxiaolioooooo") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%></title>
  </head>

  <body>
    <h1>Hello,Rails!</h1>
    <%= link_to 'My Blog', controller: 'articles' %>
  </body>
</html>
