<h1>Foo#index</h1>
<%= link_to("JSON", json_view_path) %>
<pre><%= @beautifiedJson %></pre>
<pre>*88888*************8888888888*********88888****8888*888***</pre>
<pre><%= @my_object1 %></pre>
<p>END</p>
